// custom variable values
$primary: #38c282;
$light: #fbf5e5;



// custom theme colours
$custom-theme-colors: (
  "altlight": #e9ddf7,
  "altdark": #522192,
  "keith": #ce2424
);

// import the functions & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

// merge the maps to add new theme colors
$theme-colors: map-merge($custom-theme-colors, $theme-colors);




// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';






